
.container {
    display: flex;
    justify-content: center;

    align-items: center;
    font-family: 'Poppins', sans-serif; 
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    width: 150px;
    background-color: #ffffff;
}

img{
    background: none;
    width: 40px;
    height: 40px;
}

.icon {
    background-color: #ffffff;
    color: white;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 30px;
}

.text h3 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: #333;
}

.text p {
    font-size: 14px;
    margin: 5px 0 0;
    color: #666;
}
