

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 25px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 82%;
    height: 4.0625rem;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #0e0d0d0d;
   
}

.logo {
    height: 60px;
    width: 60px;
    color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;

}
.search {
    display: flex;
    align-items: center;
   
}
.search input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.search button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search img {
    width: 19.494px;
height: 18.006px;
}


.icons>div {
    margin-left: 20px;
}

.fa {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.heart {
    width: 25px;
    height: 22.5px;
}

.user {
    width: 17.5px;
    height: 23.75px;
}

.bag {
    width: 22.955px;
    height: 26.25px;
}