header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 82%;
  height: 4.0625rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px #0e0d0d0d;
}

.logo {
  width: 60px;
  height: 60px;
  stroke: #333;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  stroke: #007bff;
}

.icons {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: none;
  outline: none;
}

.search button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.icons > a,
.icons > div {
  margin-left: 20px;
}

svg {
  width: 24px;
  height: 24px;
  stroke: #333;
  transition: stroke 0.3s ease, transform 0.2s ease;
}

svg:hover {
  stroke: #007bff;
  transform: scale(1.1);
}

.heart {
  width: 25px;
  height: 22.5px;
}

.user {
  width: 25px;
  height: 25.5px;
}

.bag {
  width: 22.955px;
  height: 26.25px;
  margin: 0 10px;
}
